@model VirtualGarden.ViewModels.GardenViewModel
@{
    ViewBag.Title = "Garden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="modal fade" id="planterModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">Planter Menu</h4>
            </div>
            <div class="modal-body">
                Plant Status
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

@if (Model.isNewGarden) {

<div class="modal fade" id="newGardenModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">Welcome to @Model.Name!</h4>
            </div>
            <div class="modal-body">
                Click on an empty space to plant something! Trees require a lot of sun and a little water,
                flowers require equal amounts of water and sun, and vegetables require a lot of water and
                a little sun.
                <br/><br />
                After you plant something, click on it to check its status! Every day the sun and water
                levels for your plants will be updated based on the sun and water they receive in the 
                location you selected for your garden. If it was a sunny day yesterday, your plant's sun
                level will go up. If it was a rainy day, your plant's water level will go up. Make sure your
                plants have the sun and water they need to grow, and their growth will increase!
                <br/><br />
                Is your plant running low on water? Open the Plant Status menu by clicking on the plant, then 
                click Water to water your plant. If your plant is running low on sun, well, there's nothing you
                can do about that, is there? If your plant isn't getting enough sun to grow, you may need to
                pick another plant that has a lower sun requirement, like flowers or vegetables. Open the Plant
                     <S></S>tatus menu by clicking on the plant, then click Remove to remove the plant and plant something
                else!
                <br/><br />
                Remember your garden's name, and enter it from the Home page to visit your garden whenever
                you want. Happy gardening!
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

}

<h2>@Model.Name</h2>
<h4>@Model.Location</h4>


<div class="container-fluid">
    @{
        <div class="row" style="margin-bottom: 20px;">
            @for (var i = 0; i < 3; ++i)
            {
                <div class="col-md-4 panel panel-default" style="display:flex; justify-content:center">
                    @if (Model.Planters[i].PlantTypeId > 0)
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal" style="margin: 20px 0px;">@Model.Planters[i].PlantTypeName</a>
                    }
                    else
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal" style="margin: 20px 0px;">X</a>
                    }
                </div>
            }
        </div>
        <div class="row" style="margin-bottom: 20px;">
            @for (var i = 3; i < 6; ++i)
            {
                <div class="col-md-4 panel panel-default" style="display:flex; justify-content:center">
                    @if (Model.Planters[i].PlantTypeId > 0)
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal" style="margin: 20px 0px;">@Model.Planters[i].PlantTypeName</a>
                    }
                    else
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal" style="margin: 20px 0px;">X</a>
                    }
                </div>
            }
        </div>
        <div class="row" style="margin-bottom: 20px;">
            @for (var i = 6; i < 9; ++i)
            {
                <div class="col-md-4 panel panel-default" style="display:flex; justify-content:center">
                    @if (Model.Planters[i].PlantTypeId > 0)
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal" style="margin: 20px 0px;">@Model.Planters[i].PlantTypeName</a>
                    }
                    else
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal" style="margin: 20px 0px;">X</a>
                    }
                </div>
            }
        </div>
    }
</div>

<script type="text/javascript">

    $(document).ready(function () {

        if (Boolean("@Model.isNewGarden")) {
            $("#newGardenModal").modal("toggle");
        }

        $(".planter").click(function () {
            var url = "../../api/Planter/" + this.getAttribute("id");

            $.get(url, function (data) {
                if (data["plantTypeId"] === 0) {
                    let plantTypeDropDown = document.createElement("select");
                    data["plantTypes"].forEach(function (plantType) {
                        const opt = new Option(plantType.plantTypeName, plantType.plantTypeId);
                        plantTypeDropDown.add(opt)
                    });
                    plantTypeDropDown.className = "form-control";
                    plantTypeDropDown.setAttribute("data-val", "true");
                    plantTypeDropDown.setAttribute("data-val-required", "The Plant Type field is required.");
                    plantTypeDropDown.id = "plantTypeId";
                    plantTypeDropDown.name = "plantTypeId";

                    let plantTypeLabel = document.createElement("label");
                    plantTypeLabel.setAttribute("for", "plantTypeId")
                    plantTypeLabel.innerHTML = "Plant Type";

                    let formGroup1 = document.createElement("div")
                    formGroup1.className = "form-group";
                    formGroup1.append(plantTypeLabel);
                    formGroup1.append(plantTypeDropDown);


                    let planterId = document.createElement("input");
                    planterId.type = "text";
                    planterId.value = data["planterId"]
                    planterId.hidden = "true";
                    planterId.name = "planterId";
                    planterId.id = "planterId"

                    let formGroup2 = document.createElement("div")
                    formGroup2.className = "form-group";
                    formGroup2.append(planterId);

                    let addPlantButton = document.createElement("button")
                    addPlantButton.className = "btn btn-primary"
                    addPlantButton.id = "submitAddPlantForm"
                    addPlantButton.type = "submit"
                    addPlantButton.innerHTML = "Add Plant"

                    let addPlantForm = document.createElement("form");
                    addPlantForm.action = "../../api/Plant"
                    addPlantForm.method = "post"
                    addPlantForm.id = "addPlantForm"
                    addPlantForm.append(formGroup1)
                    addPlantForm.append(formGroup2)

                    $(".modal-body").html(addPlantForm)
                    $(".modal-footer").html(addPlantButton);

                    $("#submitAddPlantForm").on("click", function () {
                        var jqxhr = $.post('../../api/plant', $('#addPlantForm').serialize())
                            .done(function (resp) {
                                $("#planterModal").modal('toggle');
                                $("#" + resp.planterId).html(resp.plantTypeName)
                            })
                            .fail(function () {
                                $('.modal-footer').html("Error posting the update.");
                            });
                    })

                    $("#addPlantForm").submit(function (e) {
                        e.preventDefault();
                    });

                }

                else {

                    let header = document.createElement("h4")
                    header.innerHTML = data.plantTypeName

                    let waterLevel = document.createElement("p");
                    waterLevel.className = "text-left"
                    waterLevel.id = "waterLevel"
                    waterLevel.innerHTML = "Water Level: " + data.plantWaterLevel + "%";

                    let sunLevel = document.createElement("p");
                    sunLevel.className = "text-left"
                    sunLevel.id = "sunLevel"
                    sunLevel.innerHTML = "Sun Level: " + data.plantSunLevel + "%";

                    let plantGrowth = document.createElement("p");
                    plantGrowth.className = "text-left"
                    plantGrowth.id = "plantGrowth"
                    plantGrowth.innerHTML = "Plant Growth: " + data.plantGrowth + "%";

                    let plantStatus = document.createElement("div")
                    plantStatus.className = "border border-secondary rounded"

                    plantStatus.append(header);
                    plantStatus.append(waterLevel);
                    plantStatus.append(sunLevel);
                    plantStatus.append(plantGrowth);

                    var buttons = '<button id="removePlant" plant-id='+data.plantId+' class="btn btn-danger">Remove</button><button id="waterPlant" plant-id='+data.plantId+' class="btn btn-success">Water</button>'

                    $(".modal-body").html(plantStatus);
                    $(".modal-footer").html(buttons);

                    $("#waterPlant").on("click", function () {
                        $.ajax({
                            url: "../../api/Plant/" + this.getAttribute("plant-id"),
                            type: "PUT",
                            success: function () { $("#waterLevel").html("Water Level: 100%") },
                            error: function (resp) { alert(resp.body) }
                        })
                    })

                    $("#removePlant").on("click", function () {
                        let id = $(this).attr('plant-id')
                        $.ajax({
                            url: "../../api/Plant/" + id,
                            type: "DELETE",
                            success: function (result) { console.log(result); $("#" + result).html("X");  $("#planterModal").modal("toggle");  },
                            error: function (result) { alert(result + "does not exist!") }
                        })
                    })

                }
                
            });
        });


    });

</script>
