@model VirtualGarden.ViewModels.GardenViewModel
@{
    ViewBag.Title = "Garden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="modal fade" id="planterModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModal-label">Planter Menu</h4>
            </div>
            <div class="modal-body">
                Plant Status
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<h2>@Model.Name</h2>
<h4>@Model.Location</h4>


<table>
    @{
        <tr>
            @for (var i = 0; i < 3; ++i)
            {
                <td>
                    @if (Model.Planters[i].PlantTypeId > 0)
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal">@Model.Planters[i].PlantTypeName</a>
                    }
                    else
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal">X</a>
                    }
                </td>
            }
        </tr>
        <tr>
            @for (var i = 3; i < 6; ++i)
            {
                <td>
                    @if (Model.Planters[i].PlantTypeId > 0)
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal">@Model.Planters[i].PlantTypeName</a>
                    }
                    else
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal">X</a>
                    }
                </td>
            }
        </tr>
        <tr>
            @for (var i = 6; i < 9; ++i)
            {
                <td>
                    @if (Model.Planters[i].PlantTypeId > 0)
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal">@Model.Planters[i].PlantTypeName</a>
                    }
                    else
                    {
                        <a href="#" id="@Model.Planters[i].PlanterId" class="btn btn-primary planter" data-toggle="modal" data-target="#planterModal">X</a>
                    }
                </td>
            }
        </tr>
    }
</table>

<script type="text/javascript">

    $(document).ready(function () {
        $(".planter").click(function () {
            var url = "../../api/Planter/" + this.getAttribute("id");

            $.get(url, function (data) {
                if (data["plantTypeId"] === 0) {
                    let plantTypeDropDown = document.createElement("select");
                    data["plantTypes"].forEach(function (plantType) {
                        const opt = new Option(plantType.plantTypeName, plantType.plantTypeId);
                        plantTypeDropDown.add(opt)
                    });
                    plantTypeDropDown.className = "form-control";
                    plantTypeDropDown.setAttribute("data-val", "true");
                    plantTypeDropDown.setAttribute("data-val-required", "The Plant Type field is required.");
                    plantTypeDropDown.id = "plantTypeId";
                    plantTypeDropDown.name = "plantTypeId";

                    let plantTypeLabel = document.createElement("label");
                    plantTypeLabel.setAttribute("for", "plantTypeId")
                    plantTypeLabel.innerHTML = "Plant Type";

                    let formGroup1 = document.createElement("div")
                    formGroup1.className = "form-group";
                    formGroup1.append(plantTypeLabel);
                    formGroup1.append(plantTypeDropDown);


                    let planterId = document.createElement("input");
                    planterId.type = "text";
                    planterId.value = data["planterId"]
                    planterId.hidden = "true";
                    planterId.name = "planterId";
                    planterId.id = "planterId"

                    let formGroup2 = document.createElement("div")
                    formGroup2.className = "form-group";
                    formGroup2.append(planterId);

                    let addPlantButton = document.createElement("button")
                    addPlantButton.className = "btn btn-primary"
                    addPlantButton.id = "submitAddPlantForm"
                    addPlantButton.type = "submit"
                    addPlantButton.innerHTML = "Add Plant"

                    let addPlantForm = document.createElement("form");
                    addPlantForm.action = "../../api/Plant"
                    addPlantForm.method = "post"
                    addPlantForm.id = "addPlantForm"
                    addPlantForm.append(formGroup1)
                    addPlantForm.append(formGroup2)

                    $(".modal-body").html(addPlantForm)
                    $(".modal-footer").html(addPlantButton);

                    $("#submitAddPlantForm").on("click", function () {
                        var jqxhr = $.post('../../api/plant', $('#addPlantForm').serialize())
                            .done(function (resp) {
                                $("#planterModal").modal('toggle');
                                $("#" + resp.planterId).html(resp.plantTypeName)
                            })
                            .fail(function () {
                                $('.modal-footer').html("Error posting the update.");
                            });
                    })

                    $("#addPlantForm").submit(function (e) {
                        e.preventDefault();
                    });

                }

                else {

                    let header = document.createElement("h4")
                    header.innerHTML = data.plantTypeName

                    let waterLevel = document.createElement("p");
                    waterLevel.className = "text-left"
                    waterLevel.id = "waterLevel"
                    waterLevel.innerHTML = "Water Level: " + data.plantWaterLevel + "%";

                    let sunLevel = document.createElement("p");
                    sunLevel.className = "text-left"
                    sunLevel.id = "sun-level"
                    sunLevel.innerHTML = "Sun Level: " + data.plantSunLevel + "%";

                    let plantStatus = document.createElement("div")
                    plantStatus.className = "border border-secondary rounded"

                    plantStatus.append(header);
                    plantStatus.append(waterLevel);
                    plantStatus.append(sunLevel);

                    var buttons = '<button id="removePlant" plant-id='+data.plantId+' class="btn btn-danger">Remove</button><button id="waterPlant" plant-id='+data.plantId+' class="btn btn-success">Water</button>'

                    $(".modal-body").html(plantStatus);
                    $(".modal-footer").html(buttons);

                    $("#waterPlant").on("click", function () {
                        $.ajax({
                            url: "../../api/Plant/" + this.getAttribute("plant-id"),
                            type: "PUT",
                            success: function () { $("#waterLevel").html("Water Level: 100%") },
                            error: function (resp) { alert(resp.body) }
                        })
                    })

                    $("#removePlant").on("click", function () {
                        let id = $(this).attr('plant-id')
                        $.ajax({
                            url: "../../api/Plant/" + id,
                            type: "DELETE",
                            success: function (result) { console.log(result); $("#" + result).html("X");  $("#planterModal").modal("toggle");  },
                            error: function (result) { alert(result + "does not exist!") }
                        })
                    })

                }
                
            });
        });


    });

</script>
